
@{
    ViewBag.Title = "Recherche";
}



<div id="Recherche">
    <h2>Recherche</h2>

    <label for="exampleFormControlInput1">Nom</label>
    <input id="nomRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nom">
    <label for="exampleFormControlInput1">Prenom</label>
    <input id="prenomRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par prenom">
    <label for="exampleFormControlInput1">Nom de compte</label>
    <input id="nomDeCompteRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nomDeCompte">
    <label for="exampleFormControlInput1">Role</label>
    <input id="id_ROLERecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par Role">
    <button id="SubmitBouttonRecherche" class="btn btn-success">Rechercher</button>
</div>