
@{
    ViewBag.Title = "FormulaireContact";
}




<div class="row">

    <div class="col-md-2">
        <label class="form-group">

            Nom :


        </label>
    </div>
    <div class="col-md-3">
        <div class="form-group">

            <input type="text" id="name" name="user_name">


        </div>
    </div>
    <div class="col-md-2">
        <label class="form-group">

            Portable:


        </label>
    </div>
    <div class="col-md-3">

        <input type="text" id="name" name="user_name">



    </div>

</div>
<div class="row">
    <div class="col-md-2">
        <label class="form-group">

            Poste:


        </label>
    </div>
    <div class="col-md-3">
        <div class="form-group">

            <input type="text" id="pste" name="poste">


        </div>
    </div>
    <div class="col-md-2">
        <label class="form-group">

            Mail:


        </label>
    </div>
    <div class="col-md-3">

        <input type="text" id="mail" name="mail">



    </div>
</div>
<div class="row">
    <div class="col-md-2">
        <label class="form-group">

            Fixe:


        </label>
    </div>
    <div class="col-md-3">
        <div class="form-group">

            <input type="text" id="fixe" name="fixe">


        </div>
    </div>
    <div class="col-md-2">
        <label class="form-group">

            Fax:


        </label>
    </div>
    <div class="col-md-3">

        <input type="text" id="fax" name="fax">



    </div>
</div>



<label>liste des démarche:</label>


<table class="table table-striped">
    <thead class="thead-dark">
        <tr class="col-md-12">
            <th>client </th>
            <th>Date</th>
            <th>Acteur</th>
            <th>Comentaire</th>
            <th>Gestion</th>

            <th>Gestion</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>les opalines les opalines les opalines</td>
            <td>19/10/2020</td>
            <td>David</td>
            <td>appel téphonique</td>
            <td>modif</td>

            <td>-</td>
        </tr>
    </tbody>




</table>



    </br></br></br>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Client</th>
            <th scope="col">Adresse</th>
            <th scope="col">Nom</th>
            <th scope="col">Contact</th>
            <th scope="col">plus</th>
            <th scope="col">Modifier</th>
            <th scope="col">Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>mdxcvo</td>
            <td>plus</td>
            <td>
                <button type="button" class="btn btn-primary glyphicon glyphicon-trash" data-toggle="modal" data-target="#modal">
                    <img src="~/Images/cogIcone.png" width="33%" height="33%" />
            </td>
            <td>
                <button type="submit " class="btn btn-danger glyphicon glyphicon-trash"><img src="~/Images/poubelle.svg" width="26%" height="26%" /></button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>faccvxt</td>
            <td>plus</td>
            <td>
                <button type="button" class="btn btn-primary glyphicon glyphicon-trash" data-toggle="modal" data-target="#modal">
                    <img src="~/Images/cogIcone.png" width="33%" height="33%" />


                </button>
            </td>
            <td>
                <button type="submit " class="btn btn-danger glyphicon glyphicon-trash"><img src="~/Images/poubelle.svg" width="26%" height="26%" /></button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>twitter</td>
            <td>plus</td>
            <td>
                <button type="button" class="btn btn-primary glyphicon glyphicon-trash" data-toggle="modal" data-target="#modal">
                    <img src="~/Images/cogIcone.png" width="33%" height="33%" />


                </button>
            </td>
            <td>
                <button type="submit " class="btn btn-danger glyphicon glyphicon-trash"><img src="~/Images/poubelle.svg" width="26%" height="26%" /></button>
            </td>
        </tr>
    </tbody>
</table>

