@{
    ViewBag.Title = "Index";
}


<div class="form-group">
    <label for="exampleInputEmail1">Login</label>
    <input type="text" class="form-control" id="LoginUtilisateur" placeholder="Enter Nom De Compte">
</div>
<div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="LoginMotDePasse" placeholder="Password">
</div>

<button type="submit" id="SaveLogin" class="btn btn-primary">Submit</button>


@Html.Partial("_Script")
