
@{
    ViewBag.Title = "EnregistreEdit";
}

<button type="button" class="btn btn-primary glyphicon glyphicon-cog" data-toggle="modal" data-target="#modal_2">
</button>

<!-- Modal -->
<div class="modal fade" id="modal_2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            
            <div class="modal-body">

                @*<div hidden><input class="form-control" type="text" name="id" id="2" value="2" /></div>
                    <Label>ID : 2</Label>
                    <div><Label>Nom:</Label><input class="form-control" type="text" name="nom" id="nom_@item.id" value="2" /></div>
                    <div><Label>Prenom:</Label><input class="form-control" type="text" name="prenom" id="prenom_@item.id" value="@item.prenom" /></div>
                    <div><Label>Email:</Label><input class="form-control" type="text" name="nomDeCompte" id="nomDeCompte_@item.id" value="@item.nomDeCompte" /></div>
                    <div><Label>Role:</Label><input class="form-control" type="text" name="id_ROLE" id="id_ROLE_@item.id" value="@item.id_ROLE" /></div>
                    <div><Label>Mot De Passe:</Label><input class="form-control" type="text" name="motDePasse" id="motDePasse_@item.id" value="@item.motDePasse" /></div>*@
                <div> <button id="EnregistreEdit" type="submit" class="btn btn-primary" onclick="ModalClose()">Save changes</button></div>



            </div>


        </div>
    </div>
</div