
@model List<ModelAtosFramework.UserModel>

@{
    ViewBag.Title = "Utilisateur";
}

<!-- <h2 class="jumbotron text-center">Utilisateur</h2> -->








@Html.Partial("InsertionUtilisateur")

<div id="tableauResultat"> </div>


@Html.Partial("_Script")




