
@model List<ModelAtosFramework.UserModel>

@{
    ViewBag.Title = "Utilisateur";
}

<!-- <h2 class="jumbotron text-center">Utilisateur</h2> -->
    
    <div class="row">

        <div class="col-lg-3">
            @Html.Partial("MenuGauche")
        </div>

        <div class="col-lg-7 Utilisateur">
            

            @Html.Partial("InsertionUtilisateur")

            <div id="tableauResultat"> </div>

            
                @Html.Partial("_Script")
         </div>


        <div class="col-lg-2">
            @Html.Partial("Recherche")
        </div> 
    </div>
