



<button id="InsertionUser" class="btn btn-primary glyphicon glyphicon-user" type="button" >
    Ajouter un utilisateur
</button>



<div id="MenuUtilisateur" class="form-group col-lg-12">


    

    <label for="exampleFormControlInput1">Nom</label>
    <input type="text" class="form-control" id="Insertnom" name="nom" placeholder="Nom" required>
    <label for="exampleFormControlInput1">Prenom</label>
    <input type="text" class="form-control" id="Insertprenom" name="prenom" placeholder="Prenom" required>
    <label for="exampleFormControlInput1">nomDeCompte</label>
    <input type="text" class="form-control" id="InsertnomDeCompte" name="nomDeCompte" placeholder="nomDeCompte" required>
    <label for="exampleFormControlSelect1">Role</label>
    <select class="form-control" name="id_ROLE" id="Insertid_ROLE" required>
        <option>1</option>
        <option>2</option>
        <option>3</option>

    </select>
    <label for="exampleFormControlInput1">Password</label>
    <input type="password" class="form-control" name="motDePasse" id="InsertmotDePasse" placeholder="ceci est le mot de passe" required>
    <input id="EnregistreLesDonnee" class="btn btn-success" type="submit" value=" Sauvegarder" />








</div>
