<div id="MenuGauche" class="text-center">
   
    <img src="/Images/atos.png" class="img-rounded" alt="Cinque Terre">
    <ul class="nav flex-column ">
        <li class="nav-item">
            <a class="nav-link active" href="#">Liste des besoins</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Utilisateur/">Gérer les utilisateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href='/Competence/'>Gérer les compétences</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Liste des clients</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Liste des collaborateurs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Liste des démarches</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Liste des propositions</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Statistiques</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Déconnexion</a>
        </li>
    </ul>

</div>




