
@{
    ViewBag.Title = "Recherche";
}
    <div id="Recherche">
        <h2>Recherche</h2>

        <label for="exampleFormControlInput1">Nom</label>
        <input id="nomRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nom">
        <label for="exampleFormControlInput1">Prenom</label>
        <input id="prenomRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par prenom">
        <label for="exampleFormControlInput1">Nom de compte</label>
        <input id="nomDeCompteRecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nomDeCompte">
        <label for="exampleFormControlInput1">Role</label>
        <input id="id_ROLERecherche" class="form-control rechercheBoutton" type="text" placeholder="Recherche par Role">
        <button id="SubmitBouttonRecherche" class="btn btn-success">Rechercher</button>
    </div>
    <script>

 $(function () {
        $('#SubmitBouttonRecherche').on('click', function () {

            $('#tableauResultat').load('/Utilisateur/RechercheFiltre/', {
                "nomRecherche": $('#nomRecherche').val(),
                "prenomRecherche": $('#prenomRecherche').val(),
                "nomDeCompteRecherche": $('#nomDeCompteRecherche').val(),
                "id_ROLERecherche": $('#id_ROLERecherche').val()

            });
        });

    });



    function GetUsersearcht() {



        var jsonObject = {

            "ididentification": $('#searchelment0').val(),
            "nom": $('#searchelment1').val(),
            "prenom": $('#searchelment2').val(),
            "nomDeCompte": $('#searchelment3').val(),
            "motDePasse": $('#searchelment4').val(),
            "id_ROLE": $('#searchelment5').val()


        };
        return jsonObject;
    }





      


    </script>
