
@{
    ViewBag.Title = "RechercheFiltre";
}
    <div id="Recherche">
        <h2>Recherche</h2>
        <input id="searchelment0" class="form-control rechercheBoutton" type="text" placeholder="Recherche par ID">
        <input id="searchelment1" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nom">
        <input id="searchelment2" class="form-control rechercheBoutton" type="text" placeholder="Recherche par prenom">
        <input id="searchelment3" class="form-control rechercheBoutton" type="text" placeholder="Recherche par nomDeCompte">
        <input id="searchelment4" class="form-control rechercheBoutton" type="text" placeholder="Recherche par Role">
        <button id="SubmitBouttonRecherche" class="btn btn-success">Rechercher</button>
</div>
        <script>

 $(function () {
        $('#SubmitBouttonRecherche').on('click', function () {

            var data = JSON.stringify(GetUsersearcht());

            $.ajax({
                type: 'POST',
                url: '@Url.Action("RechercheFiltre", "Utilisateur")',
                contentType: "application/json;",
                data: data,
                success: function (response) {

                    $('#tableauResultat').load('/Utilisateur/RechercheFiltre');
                    alert("reussi");


                },
                error: function (response) {


                    alert("false");

                }
            });


        });

    });



    function GetUsersearcht() {



        var jsonObject = {

            "nom":"DALUZ"



        };
        return jsonObject;
    }



        </script>
